html {
    font-family: 'Open Sans', sans-serif;
}

/* Typography */
p,
input,
a {
    font-weight: 400;
}

.h2 {
    font-size: 40px;
}

.h3 {
    font-size: 28px;
}

.light-300 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300;
}

.regular-400 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
}

.semi-bold-600 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 600;
}

.typo-space-line::after,
.typo-space-line-center::after {
    content: "";
    width: 150px;
    display: block;
    position: absolute;
    border-bottom: 5px solid #6266ea;
    padding-top: .5em;
}

.typo-space-line-center::after {
    left: 50%;
    margin-left: -75px;
}


/* Listes */
#work_banner {
    background-image: url('./../img/books/18528.jpg');
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* Détails */
#work_single_banner {
    background-image: url('./../img/books/banner-bg-02.jpg');
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#work_single_banner2 {
    background-image: url('./../img/books/single.jpg');
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.related-content {
    border-radius: 20px;
    cursor: pointer;
}

/* Footer */
footer a.text-light:hover {
    color: #bfbfbf !important;
    transition-duration: 0.15s;
}